:root {
  --dark: #120632;
  --dark-green: #53838a;
  --light-green: #a7ea7e;
  --orange: #dd8563;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* fonte padrão 16px  => agora 10px == 1rem */
  background: rgb(167, 234, 126);
  background: linear-gradient(
    0deg,
    rgba(167, 234, 126, 1) 0%,
    rgba(83, 131, 138, 1) 100%
  );
}

.header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/banner1.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.navegacao {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  flex-grow: 1;
}

.titulo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark);
  font-weight: bold;
  text-align: center;
  flex-grow: 3;
  text-align: center;
  font-weight: bolder;
  color: var(--white);
  font-size: 4rem;
  text-transform: uppercase;
}

.navegacao ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navegacao__item {
  list-style-type: none;
  border-bottom: 2px solid transparent;
}

.navegacao__item:hover {
  border-bottom: 2px solid #120632;
}

.navegacao__link {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.navegacao__link:visited {
  color: var(--dark);
}

.principal {
  min-height: 100vhs;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.destaque {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cartao {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

.cartao__banner {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.cartao__descricao {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: #333;
}
